/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height: normal;
    color: black; 
}

.container {
    width: 100%;
    margin: 0 auto;
}

h1, h2 {
    font-weight: 600;
    font-variation-settings: "wdth" 75;
    color: rgba(141, 11, 11, 0.7);
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 120%;
    border-bottom: 1px solid rgba(141, 11, 11, 0.7);
}
    
h1 + h2 {
    font-size: 160%;
    border-bottom: none;
}

nav {
    width: 100%;
    background-color: rgb(117, 6, 4);
}

a {
    text-decoration: none;
}

.nav-ul a {
    font-style: none;
    color:antiquewhite;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 20px;
}

.nav-ul li {
    font-weight: 400;
}

a:hover {
    color: darksalmon;
}

li a:hover {
    color: rgb(233, 247, 253);
}

.top {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    
}

.top-in {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: space-around;
    align-items: center;
    
}

.top img {
    width: 300px;
    height: 300px;
    border-radius: 100px;
    padding: 20px;
}

main {
    padding: 20px 40px;
    padding-top: 20px;;
}

main a {
    font-style: italic;
    text-decoration: none;
    color: hsla(197, 95%, 39%, 0.7);
}

section {
    padding-bottom: 20px;
}

section ul {
    list-style: circle outside;
}

b {
    font-weight: 400;
}

pre {
    border: 1px dashed rgb(117, 6, 4);
}

footer {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

footer a {
    color: hsla(197, 95%, 39%, 0.7);
}

img {
    width: 100px;
    height: auto;
    padding: 10px;
}